/* Increase the size of the logo */
a.md-logo img {

    width: 40px;
    height: 40px;
    margin-top: -5px;
}

/* Increase size of social media links in page footer */
.md-footer-social {
    font-size: 20px;
}

div.downloadbinbutton {
    text-align: center;
}

div.downloadbinbutton button {
    background-color: #4CAF50; /* Green */
    border: none;
    cursor: pointer;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.video_container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}